.ContextMenu {
  position: absolute;
  margin: 0;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #ffffff;
  font-weight: bold;
}

.ContextMenuItem {
  list-style: none;
  border-radius: 0.125rem;
  padding: 0.25rem 0.5rem;
  user-select: none;
}
.ContextMenuItem:last-of-type {
  border-bottom: none;
}
.ContextMenuItem:hover {
  background: #0471da;
}

.Tooltip {
  position: absolute;
  padding: 0.25em 0.5em;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  border-radius: 0.25em;
  display: inline-block;
  user-select: none;
  pointer-events: none;
}
