.OuterWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.InnerWrapper {
  max-height: 100%;
}

.Canvas {
  background-color: #fff;
  border-radius: 0.25em;
  position: relative;
}
