.Background {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: auto;
}

.Dialog {
  position: relative;
  z-index: 3;
  margin: 0 0.25rem;
  width: auto;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;

  display: grid;
  grid-row-gap: 0.25rem;
  grid-column-gap: 0.5rem;
  grid-template-columns: auto auto auto;
}

.HeaderRow {
  grid-column: 1 / span 3;
  font-size: 1.1rem;
  text-align: center;
  padding: 0.125rem 0.25rem;
  background-color: #363852;
  color: white;
}

.LabelColumn {
  grid-column: 1;
  align-self: center;
  padding-left: 0.25rem;
  font-weight: bold;
}

.InputColumn {
  grid-column: 2 / span 2;
  align-self: center;
  justify-self: stretch;
  white-space: nowrap;
  padding-right: 0.25rem;
}

.InputLeftColumn {
  grid-column: 2;
  align-self: center;
  justify-self: stretch;
  white-space: nowrap;
  padding-right: 0.25rem;
}
.InputRightColumn {
  grid-column: 3;
  align-self: center;
  justify-self: stretch;
  white-space: nowrap;
  padding-right: 0.25rem;
}

.FooterRow {
  grid-column: 1 / span 3;
  text-align: right;
  padding-bottom: 0.25rem;
  padding-right: 0.25rem;
}

.CancelButton {
  background-color: #888;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.SaveButton {
  background-color: #363852;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.Spacer {
  display: inline-block;
  width: 0.5rem;
}

.DateInput {
  font-family: sans-serif;
}

.Select {
  width: 100%;
}

.Input {
  width: 100%;
}
