.App {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 1rem;
}

.ChartContainer,
.CodeContainer {
  background: #fff;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #eee;
}
.ChartContainer {
  flex: 0 0 auto;
}
.CodeContainer {
  flex: 1 1 auto;
  overflow: auto;
  margin-top: 0.5rem;
  position: relative;
}

.CodeColumnLeft,
.CodeColumnRight {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0.5rem;
  bottom: 0.5rem;
}
.CodeColumnLeft {
  left: 0.5rem;
  width: 65%;
}
.CodeColumnRight {
  right: 0.5rem;
  width: calc(35% - 1.5rem);
}

@media only screen and (max-width: 800px) {
  .CodeColumnLeft,
  .CodeColumnRight {
    top: unset;
    left: unset;
    right: unset;
    width: calc(100% - 1rem);
  }

  .CodeColumnLeft {
    top: 0.5rem;
    height: 65%;
  }

  .CodeColumnRight {
    bottom: 0.5rem;
    height: calc(35% - 1.5rem);
  }
}

@media only screen and (orientation: landscape) and (max-height: 500px) {
  .CodeContainer {
    display: none;
  }
}

@media only print {
  .App {
    background: transparent;
  }

  .CodeContainer {
    display: none;
  }
}
