body {
  background: #eee;
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  touch-action: pan-y;
}

code {
  font-family: monospace;
}

* {
  box-sizing: border-box;
}
