body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  touch-action: pan-y;
  background: #eee;
}

code {
  font-family: monospace;
}

* {
  box-sizing: border-box;
}

@media only print {
  body {
    background: transparent;
  }
}
